.container{
  border: 2px solid black;
}






.logo{
  /* width: 180px; */
  height: 50px;
  position: absolute;
  /* margin-right: 0%; */
  margin-left: 1200px;
  margin-top: -30px;
}

/* *{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.body{
  background-color: #ccc;

}

.image {
width: 100%;
height: 200px;
position: sticky;
}


.heading{
  font-size: 20px;
  margin-left: 10px;
  font-weight: bolder;
  text-align: center;
}
.head{
  margin-left: 270px;
  margin-top: 10px;

}

.img{
  margin-left: 580px;
  margin-top: -30px;
}

.formcontainer{
  
  max-width: 1200px;
  margin: 0 auto;
}

.form{
  background-color: white;
  max-width: 1400px;
  padding: 20px;
  height: 900px;
  border: 2px solid black;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 50px;
  box-shadow: 4px 3px 5px rgba(1, 1, 1, 0.6);
  align-content: center;
  text-align: center;

}
.form-main{
  margin-top: 30px;
} */